.Login-Popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.Login-Popup-Container{
    place-self: center;
    width: max(23vw,330px);
    color: #f3f3f3;
    background-color: rgb(207, 168, 136);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
    border: 1px solid ;
}
.Login-Popup-Title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Login-Popup-Title img{
    width: 16px;
    cursor: pointer;
}
.Login-Popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Login-Popup-inputs input{  
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.Login-Popup-Container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    font-weight: bolder;
}
.Login-Popup-inputs :hover{
    border: 2px solid  black;
}
.Login-Popup-Container button:hover{
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    color: white;
}
.Login-Popup-Condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px ;
}
.signin_color span:hover{
    color: black;
}
.signin_color span{
    text-decoration: underline;
}