/* Global styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

/* Container for the feature list */
.max-w-screen {
  width: 80%; /* Set the width to 80% */
  margin: auto; /* Center the content */
}

/* Responsive style for the headings */
h2 {
  font-size: 2.5rem;
  color: #000000;
}


/* Text styling */
.text-gray-600 {
  color: #3d3d3d;
  font-size: 1.2rem;

}

p {
  line-height: 1.6;
}

/* Flexbox styling for feature sections */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

/* Padding for sections */
.p-6 {
  padding: 1.5rem;
}
.my-4{
  color: #000000;
}
/* Media queries for responsiveness */
@media (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .md\:w-1\/2 {
    width: 80%;
  }

  .p-4 {
    padding: 1rem;
  }
}

/* Image styling */
.w-40 {
  width: 10rem; /* 160px */
}

.w-40:hover {
  border: 5px solid;
}

.h-40 {
  height: 10rem; /* 160px */
}

.rounded-full {
  border-radius: 50%;
}

.shadow-lg {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.object-cover {
  object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .w-40,
  .h-40 {
    width: 8rem; /* 128px */
    height: 8rem; /* 128px */
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.9rem;
  }
}
