.finance-container {
    border: 2px solid black;
    background-color: aliceblue;
    width: 80vw;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 5px 0;
    height: 140vh; 
    /* height is just for knowing how it showing purpose */
}