@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Carrois+Gothic&family=Limelight&family=Parkinsans:wght@300..800&display=swap');
.navbar{
  font-family: "Alatsi", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #fcb69f 0%, #ffecd2 100%);
  padding: 0 20px;
}


.logo-with-name{
    display: flex;
    align-items: center;
}

.logo-with-name img{
    height: 65px;
}

.logo-name {
    font-size: 35px;
}

.navbar-options {
    display: flex;
    list-style: none;
    gap: 25px;
    transition: all 0.3s ease-in-out;
}

.navbar-options ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.navbar-options li {
    cursor: pointer;
    position: relative;
    font-size: 20px;
}

hr {
    margin: 0;
    border: none;
    height: 3px;
    background-color: black;
}

.navbar-right {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 10px;
}

.navbar-right .profile{
    height: 33px;
    cursor: pointer;
}

.login-button {
    background-color: #4CAF50;
    all: unset;
    border: 2px solid;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: 400;
    font-size: larger;
    cursor: pointer;
    background-image: linear-gradient(to top, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.login-button:hover {
    background-image: linear-gradient(to bottom, #f99185 0%, #cf556c 0%, #ff867a 21%, #ff8c7f 52%, #ff8177 78%, #b12a5b 100%);
}

/* define all the classnames dividing with '-' example 'navbar-container-logo' */
/* and also dont include capitals in those names */

/* naku telusu ra fuka */
/* telsu ani malli '_' eh pettinav em ra fuka */