.footer {
    /* background-image: linear-gradient(to top, #ffecd2 0%, #fcb69f 100%); */
    color: white;
    background-color: black;
    height: 40vh;
    padding: 20px 8vw;
    padding-top: 80px;
    text-align: center;
    position: relative;
    bottom: 0px;
    clip-path: ellipse(110% 50vh at 50% bottom); 
}

.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    justify-items: center;
    align-items: start;
}

.footer-left img {
    height: 100px;
    width: 120px;
    border-radius: 50%;
}

.footer-left .logo-name {
    font-family: "Alatsi", serif;
}

.footer-logo-cont{
    display: flex;
    align-items: center;
}

.footer-logo-cont img{
    height: 85px;
}

.footer-logo-cont .logo-name {
    font-size: 55px;
}

.footer-content .footer-left p {
    margin-top: 20px;
    line-height: 1.5;
    font-size: 14px;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.footer-social-icons img {
    height: 30px;
    width: 30px;
}

.footer-content-center h2,
.footer-content-right h2 {
    margin-bottom: 20px;
}

.footer-content-center ul,
.footer-content-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-content-center li,
.footer-content-right li {
    margin: 10px 0;
    cursor: pointer;
}

.footer-content-center li:hover,
.footer-content-right li:hover {
    text-decoration: underline;
}

.footer-content-right ul li:first-child {
    margin-bottom: 10px;
}

.hr-footer{
    border: none;
    border-top: 1px solid #444;
    margin: 20px 0;
}

.footer-copyright {
    width: 100%;
    color: black;
    /* background-color: black; */
    background-color: white;
    font-size: 12px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer_content {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .footer_content_left,
    .footer_content_center,
    .footer_content_right {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer_content_left img {
        height: 60px;
        width: 60px;
    }

    .footer_social_icons img {
        height: 24px;
        width: 24px;
    }

    .footer_content_left p,
    .footer_content_center h2,
    .footer_content_right h2 {
        font-size: 14px;
    }
}
