@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Carrois+Gothic&family=Limelight&family=Parkinsans:wght@300..800&display=swap');

.hero {
    height: 85vh;
    width: 100%;
    display: flex;
    background-image: linear-gradient(to top, #fcb69f 0%, #ffecd2 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    clip-path: ellipse(120% 80vh at 50% top); 
}


.hero-heading {
    width: 70%;
    font-family: 'DM Sans Merlin';
    font-size: 70px;
    text-align: center;
}

.explore-button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-image: linear-gradient(to top, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.explore-button p {
    font-size: 20px;
    font-weight: 500;
}

.explore-button .arrow-icon {
    font-size: 30px;
}

.explore-button:hover {
    background-image: linear-gradient(to bottom, #f99185 0%, #cf556c 0%, #ff867a 21%, #ff8c7f 52%, #ff8177 78%, #b12a5b 100%);
}